* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #EAEAEA;
}
button {
    padding: 12px 20px;
    border-radius: 10px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: .9rem;
    transition: all .4s ease;
}
button:hover {
    cursor: pointer;
    opacity: .8;
}
.content_container {
    width: 80vw;
    max-width: 1300px;
    margin: 0 auto;
}
input {
    font-family: 'Montserrat', sans-serif;
}